{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
        <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="mt0">Even the all-powerful Pointing has no control about the blind text. </h2>  
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="probootstrap-watch-intro"><a href="https://vimeo.com/45830194" class="popup-vimeo">Watch the video <i class="icon-play2"></i></a></p>
          </div>
          <div class="col-md-6">
            <h2 class="mt0">How it works?</h2>
            <ul class="probootstrap-steps">
              <li>
                <span class="number"><i>1</i></span> 
                <span class="text">A small river named Duden flows by their place and supplies it with the necessary regelialia</span>
              </li>
              <li>
                <span class="number"><i>2</i></span> 
                <span class="text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</span>
              </li>
              <li>
                <span class="number"><i>3</i></span> 
                <span class="text">Bookmarksgrove right at the coast of the Semantics, a large language ocean.</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb50">
            <h2 class="mt0">Our Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><img src="img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Behind the word mountains</a></h3>
            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
          </div>
          <div class="col-md-4">
            <p><img src="img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Because there were thousands of bad Commas</a></h3>
            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
          </div>
          <div class="col-md-4">
            <p><img src="img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Wild Question Marks and devious Semikoli</a></h3>
            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center probootstrap-animate" data-animate-effect="fadeIn">
              <h2 class="mt0 probootstrap-white-color">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h2>
              <p class="mb0"><a href="#" class="btn btn-ghost btn-ghost-white btn-lg">Get Started Now!</a></p>
            </div>
          </div>
        </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb50">
            <h2 class="mt0">Our Blog</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><img src="img/hero_bg_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            <h3 class="mt0"><a href="#" class="hover-reverse">The Big Oxmox advised her not to do so because there were thousands</a></h3>
            <p class="text-mute mb40">July 25, 2017 &bull; <i class="icon-bubble"></i> 3 Comments</p>
          </div>
          <div class="col-md-6">
            <ul class="probootstrap-blog-list">
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h3 class="mt0 mb10">Because there were thousands of bad Commas</h3>
                    <p class="text-mute mb20">July 25, 2017 &bull; <i class="icon-bubble"></i> 3 Comments</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h3 class="mt0 mb10">She packed her seven versalia</h3>
                    <p class="text-mute mb20">July 25, 2017 &bull; <i class="icon-bubble"></i> 3 Comments</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure class="probootstrap-image"><img src="img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h3 class="mt0 mb10">Wild Question Marks and devious Semikoli</h3>
                    <p class="text-mute mb20">July 25, 2017 &bull; <i class="icon-bubble"></i> 3 Comments</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="contact-section" class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="#" method="post" class="probootstrap-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject">
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
              </div>
            </form>
          </div>
          <div class="col-md-5 col-md-push-1">
            <h3 class="mt0">Get In Touch</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
              <li><i class="icon-mail"></i><span>info@domain.com</span></li>
              <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
            </ul>

            <h3>Feedback</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}