<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Formulaire</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="index.php">Johan Deswelle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.php?action=authentification">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if isGranted() %}
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=superuserlist">Gestion des membres</a>
            </li>
            {% endif %}
          </ul>
          <button type="button" class="btn btn-primary my-2 my-lg-0" onclick="location.href='index.php?action=logOut';">Déconnexion</button>
        </div>
      </nav>
    </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
  </body>
  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>     

</html>
